@import "../core/index";
/* === Icon === */
@font-face {
  font-family: 'iconfont';
  src: url('@{icon-url}.eot'); /* IE9*/
  src: url('@{icon-url}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('@{icon-url}.woff') format('woff'), /* chrome、firefox */
  url('@{icon-url}.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('@{icon-url}.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  &:before {
    display: block;
    font-family: "iconfont" !important;
  }
  &.@{icon-prefix}-img{
    width: 21px;
    height: 21px;
    background-size: cover;
    background-color: #eee;
  }
  &.radius{
    border-radius: 4px;
  }
  &.circle{
    border-radius: 50%;
  }
}


.@{icon-prefix}-search:before { content: "\e60e"; }
.@{icon-prefix}-reload:before { content: "\e618"; }
.@{icon-prefix}-share:before { content: "\e619"; }
.@{icon-prefix}-document:before { content: "\e61a"; }
.@{icon-prefix}-file:before { content: "\e61c"; }
.@{icon-prefix}-notice:before { content: "\e61d"; }
.@{icon-prefix}-send:before { content: "\e61e"; }
.@{icon-prefix}-wifi:before { content: "\e61f"; }
.@{icon-prefix}-voice:before { content: "\e620"; }
.@{icon-prefix}-headset:before { content: "\e621"; }
.@{icon-prefix}-sound:before { content: "\e622"; }
.@{icon-prefix}-unsound:before { content: "\e623"; }
.@{icon-prefix}-comment:before { content: "\e624"; }
.@{icon-prefix}-reply:before { content: "\e625"; }
.@{icon-prefix}-location:before { content: "\e627"; }
.@{icon-prefix}-left:before { content: "\e628"; }
.@{icon-prefix}-right:before { content: "\e629"; }
.@{icon-prefix}-top:before { content: "\e62a"; }
.@{icon-prefix}-zhankai:before { content: "\e62b"; }
.@{icon-prefix}-star:before { content: "\e62c"; }
.@{icon-prefix}-check:before { content: "\e62e"; }

.@{icon-prefix}-search:before { content: "\e60e"; }
.@{icon-prefix}-reload:before { content: "\e618"; }
.@{icon-prefix}-share:before { content: "\e619"; }
.@{icon-prefix}-document:before { content: "\e61a"; }
.@{icon-prefix}-file:before { content: "\e61c"; }
.@{icon-prefix}-notice:before { content: "\e61d"; }
.@{icon-prefix}-send:before { content: "\e61e"; }
.@{icon-prefix}-wifi:before { content: "\e61f"; }
.@{icon-prefix}-voice:before { content: "\e620"; }
.@{icon-prefix}-headset:before { content: "\e621"; }
.@{icon-prefix}-sound:before { content: "\e622"; }
.@{icon-prefix}-unsound:before { content: "\e623"; }
.@{icon-prefix}-comment:before { content: "\e624"; }
.@{icon-prefix}-reply:before { content: "\e625"; }
.@{icon-prefix}-location:before { content: "\e627"; }
.@{icon-prefix}-left:before { content: "\e628"; }
.@{icon-prefix}-right:before { content: "\e629"; }
.@{icon-prefix}-up:before { content: "\e62a"; }
.@{icon-prefix}-down:before { content: "\e62b"; }
.@{icon-prefix}-star:before { content: "\e62c"; }
.@{icon-prefix}-check:before { content: "\e62e"; }
