.home {
  width: 100%;
  height: 100vh;
  background-color: #34495e;
  position: relative;
  overflow: hidden;
  font: 14px/1.5 arial, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
  .footer {
    position: absolute;
    bottom: 48px;
    width: 100%;
    text-align: center;
    color: #ccc;
    .github-btn {
      position: absolute;
      left: 50%;
      margin-left: -40px;
      border: none;
    }
    a {
      color: #fff;
      text-decoration: none;
      height: 48px;
      line-height: 48px;
    }
  }
  .box {
    width: 30rem;
    position: absolute;
    top: 40%;
    margin-top: -11.25rem;
    left: 50%;
    margin-left: -15rem;
    height: 22.5rem;
    & > div {
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      display: block;
    }
  }
  .logo {
    background-image: url("../assets/logo.png");
    width: 10rem;
    height: 12.5rem;
  }
  .slogan {
    background-image: url("../assets/slogan.png");
    width: 30rem;
    height: 3rem;
    margin-top: 2rem;
  }
  .clover {
    background-image: url("../assets/clover.png");
    width: 15rem;
    height: 5rem;
  }
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  &.delay-1 {
    animation-delay: 0.2s;
  }
  &.delay-2 {
    animation-delay: 0.4s;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
